/Ejercicios/Ejercicio_6/nbproject/private/
/Ejercicios/Ejercicio_6/build/
/Ejercicios/Ejercicio_6/dist/
/Ejercicios/Ejercicio_7/nbproject/private/
/Ejercicios/Ejercicio_7/build/
/Ejercicios/Ejercicio_8/nbproject/private/
/Ejercicios/Ejercicio_8/build/
/Ejercicios/Ejercicio_8/dist/
/Extras/Ejercicio_1/nbproject/private/
/Extras/Ejercicio_1/build/
/Extras/Ejercicio_1/dist/
/Extras/Ejercicio_2/nbproject/private/
/Extras/Ejercicio_2/build/
/Extras/Ejercicio_2/dist/
/Extras/Ejercicio_3/nbproject/private/
/Extras/Ejercicio_3/build/
/Extras/Ejercicio_3/dist/
